<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breed.govern.mapper.AdAnimalDiseaseMapper">
<select id="getAdAnimalDiseaseList" resultType="com.breed.govern.dto.vo.AdNatureListVo">
    SELECT
        d.ad_id as adId,
        n.nature as nature,
        d.disease_name as diseaseName,
        d.pathogeny,
        d.symptom,
        d.treatment,
           d.img_url as imgUrl
    FROM
        ad_animal_disease d
            left JOIN ad_nature n on d.n_id=n.n_id
</select>
    <select id="getDiseaseExcInfo" resultType="com.breed.govern.dto.vo.ExcInfoDisease">
        SELECT a.disease_name as diseaseName,
            a.pathogeny,
            a.symptom,
            a.treatment
        FROM
            ad_animal_disease a
        WHERE
            MATCH (symptom) AGAINST (
            #{data} IN NATURAL LANGUAGE MODE
            )
            LIMIT 1
    </select>
</mapper>
