<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breed.govern.mapper.BExcInfoMapper">
    <select id="getExcInfoList" resultType="com.breed.govern.dto.vo.ExcInfoList">
        SELECT i.e_id                                     AS eId,
               i.b_id                                     AS bId,
               i.disease_name                             AS diseaseName,
               i.pathogeny                                AS pathogeny,
               i.symptom                                  AS symptom,
               i.treatment                                AS treatment,
               i.status                                   AS status,
               i.create_time                              AS createTime,
               i.label_name                               as labelName,
               CONCAT(l.label_content, '----', o.content) as content

        FROM b_exc_info i
                 LEFT JOIN b_operation o on o.o_id = i.o_id
                 LEFT JOIN b_operation_label l on l.ol_id = o.ol_id
        ORDER BY i.create_time desc
    </select>
</mapper>
